#amoforms_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s;
  z-index: 50;
}

#amoforms_overlay.show {
  opacity: 1;
  visibility: visible;
}

#amoforms_iframe {
  @include flex-center;
  @include topLeft50;
  width: 460px;
  height: 365px;
  border: none;
  margin: auto;
  display: block;
  position: absolute;
}