#formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, .35);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, background-color .4s, visibility .4s;
}

#amoforms_iframe_1406498 {
  position: static !important;
  max-width: 400px !important;
  margin: 0 !important;
  width: 370px !important;
  transition: visibility 0.4s, opacity 0.4s;
}

#formContainer.active {
  opacity: 1;
  visibility: visible;
}