<footer class="footer" id="community">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <img class="footer__logo" width="132" height="24" src="images/logo.svg" alt="логотип">
      </div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li>
            <a class="footer__link desktop" href="#header" data-footer-nav></a>
          </li>
          <li>
            <a class="footer__link desktop" href="#calculator" data-footer-nav></a>
          </li>
          <li>
            <a class="footer__link desktop" href="#guarantees" data-footer-nav></a>
          </li>
          <li>
            <a class="footer__link desktop" href="#indicators" data-footer-nav></a>
          </li>
          <li>
            <a class="footer__link desktop" href="#steps" data-footer-nav></a>
          </li>
        </ul>
      </nav>
      <div class="footer__right">
        <a class="footer__btn desktop" href="#calculator" data-btn-income></a>
      </div>
    </div>
  </div>
</footer>