<footer class="footer" id="community">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <img class="footer__logo" width="132" height="24" src="images/logo.svg" alt="логотип">
      </div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li>
            <a class="footer__link desktop" href="#header">Главная</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#calculator">Калькулятор</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#faq">Гарантии</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#indicators">Статистика</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#steps">Как это работает</a>
          </li>
        </ul>
      </nav>
      <div class="footer__right">
        <a class="footer__btn desktop" href="#calculator">Рассчитать доход</a>
      </div>
    </div>
  </div>
</footer>